@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    @if(User.Identity.IsAuthenticated)
    {
        <h1>Hello @User.Identity.Name!</h1>
    }
    else
    {
        <h1>Hello World!</h1>
    }

    @if(!User.Identity.IsAuthenticated)
    {
        <p>
            <a class="btn btn-lg btn-success" asp-controller="Auth" asp-action="SignUp">
                Sign Up
            </a>
        </p>
    }
</div>


